<!DOCTYPE html>
<html>
<head>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134610816-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'GA_TRACKING_ID');
</script>
    <meta charset="utf-8" />
    <title>Dan Lenington Art</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
        <div class="col" style="height:800px">
                <div class="dropdown">
                        <button class="btn" id="dropDownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bars"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropDownMenuButton">
                                            <a class="dropdown-item" href="index.html">Home</a>
                                            <a class="dropdown-item" href="art.html">Art</a>
                                            <a class="dropdown-item" href="about.html">About</a>
                                            <a class="dropdown-item" href="contact.html">Contact</a>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                                    Learn more
                                                </button>
                                        </div>
                                    </div>

                                    <div style="-webkit-transform: rotate(270deg);">
                                        <p class="display-2">Dan</p>
                                        <p class="display-2">Lenington</p>
                                    </div>
                                    <!-- trigger button for modal -->
                                    

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Email List!</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                                <form class="needs-validation" novalidate>
                                                                        <div class="form-row">
                                                                          <div class="col-md-6 mb-3">
                                                                            <label for="validationCustom01">First name</label>
                                                                            <input type="text" class="form-control" id="validationCustom01" placeholder="First name" required>
                                                                            <div class="valid-feedback">
                                                                              Looks good!
                                                                            </div>
                                                                          </div>
                                                                          <div class="col-md-6 mb-3">
                                                                            <label for="validationCustom02">Last name</label>
                                                                            <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" required>
                                                                            <div class="valid-feedback">
                                                                              Looks good!
                                                                            </div>
                                                                          </div>
                                                                          
                                                                        </div>
                                                                        <div class="form-row">
                                                                                <div class="col-md-12 mb-6">
                                                                                        <label for="validationCustomUsername">Email</label>
                                                                                        <div class="input-group">
                                                                                          <div class="input-group-prepend">
                                                                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                                                                          </div>
                                                                                          <input type="email" class="form-control" id="validationCustomUsername" placeholder="Email" aria-describedby="inputGroupPrepend" required>
                                                                                          <div class="invalid-feedback">
                                                                                            Enter username
                                                                                          </div>
                                                                                        </div>
                                                                                      </div>
                                                                          
                                                                    
                                                                        </div>
                                                                        <div class="form-group">
                                                                          <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                                                            <label class="form-check-label" for="invalidCheck">
                                                                              Agree to terms and conditions
                                                                            </label>
                                                                            <div class="invalid-feedback">
                                                                              You must agree before submitting.
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                        <button class="btn btn-primary" type="submit">Submit form</button>
                                                                      </form>
                                                                      
                                                                      <script>
                                                                      // Example starter JavaScript for disabling form submissions if there are invalid fields
                                                                      (function() {
                                                                        'use strict';
                                                                        window.addEventListener('load', function() {
                                                                          // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                                                          var forms = document.getElementsByClassName('needs-validation');
                                                                          // Loop over them and prevent submission
                                                                          var validation = Array.prototype.filter.call(forms, function(form) {
                                                                            form.addEventListener('submit', function(event) {
                                                                              if (form.checkValidity() === false) {
                                                                                event.preventDefault();
                                                                                event.stopPropagation();
                                                                              }
                                                                              form.classList.add('was-validated');
                                                                            }, false);
                                                                          });
                                                                        }, false);
                                                                      })();
                                                                      </script>
                                                    

                                                        

                                                           
                                                            </div>
                                                            </div>
                                                            </div>
</div>
                                                            

                                                            
        </div>
        <div class="col bg-info" style="height:800px">
<div class="card mt-3">
        <div class="card-header">
                Locations
        </div>
    <div class="card-body">
            
<div ng-app="myApp" ng-controller="locationsCtrl">

<h5 class="card-title">Search for location:</h5>
        <p><input type="text" ng-model="test"></p>

        <ul class="list-group list-group-flush">
            <div class="dropdown">
            <li class="list-group-item" type="button" ng-repeat="x in locations | filter:test">{{ x }}
                </li>
                </div>
                </ul>

        </div> 

        <script>
        angular.module('myApp',
    []).controller('locationsCtrl',
function($scope) {
    $scope.locations = [
        'San Francisco, California',
        'New York City, New York',
        'Chicago, Illinois'
    ];
});
        </script>
        </div>
</div>
     <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">   
    Find Us 
    </button>
    <div class="collapse" id="collapseExample">    
    <div class="card">
        <div id="googleMap"
        style="width:100%;height:400px;"></div> 
        
        <script>
            function myMap() {
                var mapProp= {
                    center:new google.maps.LatLng(51.508742, -0.120850), zoom:5,
                };
                var map = new 
                google.maps.Map(document.getElementById("googleMap"),mapProp);
            }
            </script>

</div>
</div>


        
             
            
    </div>
    </div>
    </div>
    </div>
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>  
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlbtGvvMw0rNxMdKYMx897xAU9N9c725U&callback=myMap"></script>
        
</body>
</html>