<section class="block block--primary hero">
  <div class="grid grid--1x2 container">
    <div>
      <h1>Dan Lenington</h1>
      <ul class="list">
        <li class="list__item">Developer</li>
        <li class="list__item">Creator</li>
        <li class="list__item">Designer</li>
      </ul>
      <ul class="list list--horizontal">
        <li class="list__item">
          <a href="https://github.com/dlenington">
            <svg class="icon">
              <use xlink:href="images/sprite.svg#GitHub"></use>
            </svg>
          </a>
        </li>
        <li class="list__item">
          <a
            href="https://danlenington.com/Resume/docs/Dan%20Lenington%20Resume.pdf?rand=123"
          >
            <svg class="icon">
              <use xlink:href="images/sprite.svg#Contact"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <svg class="hero__image">
        <use xlink:href="images/sprite.svg#HeroImage"></use>
      </svg>
    </div>
  </div>
</section>
