<section class="container block block--light project">
  <header class="block__header">
    <h2 class="block__heading">Projects</h2>
    <p class="block__description"></p>
  </header>
  <div class="grid grid--1x2">
    <div>
      <header class="block__subheader">
        <h3 class="block__subheading">Rock Medicine</h3>
        <p>Lead Developer - Full Stack</p>
      </header>
      <ul class="list">
        <li class="list__item">
          Built and desiged custom electronic medical records system
        </li>
        <li class="list__item">
          Used React, Typescript, GraphQL, AWS Appsync and Material UI to build
          Offline first solution for event clinics
        </li>
        <li class="list__item">
          Built to support clinics at events such as SF 49'ers games and Outside
          Lands Music Festival
        </li>
      </ul>
    </div>
    <div>
      <picture>
        <source
          type="image/webp"
          srcset="
            images/RockMed-Home@1x.webp 1x,
            images/RockMed-Home@2x.webp 2x
          "
        />
        <source
          type="image/png"
          srcset="images/RockMed-Home@1x.png 1x, images/RockMed-Home@2x.png 2x"
        />
        <img
          class="project__image"
          src="images/RockMed-Home@2x.png"
          alt="A picture of the homepage for the RockMed EMR Web App"
        />
      </picture>
    </div>
  </div>
</section>
